body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: inline-block;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: white;
  /* height: 93vh; */
  position: relative;
  width: 100%;
}

/* NavBar */
.user-profile {
  margin-right: 0;
}

/* End NavBar */
/* Workspace */
.workspace {
  min-width: 100%;
  max-height: 100%;
  margin: 0 4rem;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

/* End Workspace */
/* EditTools */

.editTools {
  padding: 1rem 0;
  color: #282c34;
  background-color: aliceblue;
  max-height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.FileInput {
  display: none;
}

.Card {
  background-color: none;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); */
  box-sizing: border-box;
}

.Dropzone {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

#uploadImg {
  width: 100px;
}

/* End EditTools */
/* canvas */
.canvas {
  background: none;
  max-height: 100%;
  /* display: flex; */
  border: none;
  /* background: none; */
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.backImg {
  display: flex;
  position: absolute;
  background-size: 100% 100%;
  width: 100%;
  max-width: auto;
  height: auto;
  min-height: 100%;
}

.led {
  position: absolute;
  z-index: 999 !important;
  margin: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.253);
  background: firebrick;
  text-align: center;
  margin: auto;
}

/* End canvas */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-toolbar {
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
  
}

.toolbox-btn {
  height: 80px;
  font-size: 100%;
}

