body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* overflow: hidden; */
}

/* NAVBAR */
.navbar {
  background-color: whitesmoke;
  z-index: 999 !important;
}

/* APP */

.App {
  height: 100vh;
  color: white;
  background-color: #1b1e24;
}

/* NavBar */
.user-profile {
  margin-right: 0;
}

/* End NavBar */
/* Workspace */
.workspace {
  background-color: #282c34;
  /* position: absolute; */
  /* bottom:0; */
  margin: 2rem 2rem;
  height: 87%;
  /* max-height: 100%; */
  /* align-items: stretch; */
  /* padding: 3rem 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
}

.paintArea {  
  max-height: 100%;
}

/* End Workspace */
/* EditTools */

.editTools {
  margin: 1rem 0;
  padding: .5rem 0;
  border-radius: 8px;
  color: #282c34;
  background-color: aliceblue;
  max-height: 100%;
  max-width: 160px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.FileInput {
  display: none;
}

.Card {
  background-color: none;
  padding: .5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08); */
  box-sizing: border-box;
}

.Dropzone {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 2rem;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

#uploadImg {
  width: 100px;
}

.outputField {
  /* height: 300px; */
  resize: none;
  /* width: 110px; */
  font-size: 1rem;
}

/* End EditTools */
/* canvas */
.canvas {
  background: none;
  /* border: 2px solid black; */
  /* max-height: 100%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background: none; */
  /* height: 200px; */
  /* padding: 0; */
  margin: 0 2rem;
}

.backImg {
  pointer-events: none;
  max-height: 83vh;
  width: auto;
}

.led {
  position: absolute;
  z-index: 999 !important;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.253);
  background: firebrick;
  text-align: center;
  font-size: 1.5rem;
}

/* End canvas */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.btn-toolbar {
  width: 80%;
  padding: 1rem;
  align-items: center;
  justify-content: flex-start;
  
}

.toolbox-btn {
  height: 50px;
  font-size: 100%;
}

.noSel {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

